.seccion {
  background-color: #f3f3f3;
  border: 2px solid #343434;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.contenedor-img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contenedor-img img {
  width: 100%;
}

.casa-imagen {
  width: 50%;
}

.casa-imagen img {
  width: 100%;
}